* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all;
  transition-duration: 150ms;
  scroll-behavior: smooth;
}

/* ============ COMMON STYLES START ============ */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #f1fdff;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  padding: 120px 10px;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.button-primary {
  width: fit-content;
  background-color: #30b868;
  padding: 12px 16px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.button-primary:hover {
  background-color: #239753;
}

.button-secondary {
  width: fit-content;
  background: transparent;
  padding: 12px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.button-secondary:hover {
  background: #fff;
  color: #30b868;
}

.section-title {
  display: block;
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 16px 0px;
}

.section-subtitle {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #30b868;
}

.section-description {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 22px;
}
/* ============ COMMON STYLES END ============ */

/* ============ HEADER STARTS ============ */
#header {
  width: 100%;
  padding: 16px 10px;
  background: #fff;
}

#header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.header_nav ul li {
  list-style: none;
}

.header_nav ul li a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.header_nav ul li a:hover {
  color: #30b868;
}
/* ============ HEADER ENDS ============ */

/* ============ BANNER SECTION STARTS ============ */
#banner {
  background: linear-gradient(rgba(0, 25, 49, 0.2), rgba(0, 25, 49, 0.2)),
    url("../assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 120px 10px 134px;
}

#banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.badge {
  background: #fff;
  border-radius: 1000px;
  padding: 8px 12px;
  color: #30b868;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.indicator {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #dae9e0;
  position: relative;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9fc6af;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #30b868;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

.banner_title {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.banner_title span {
  color: #30b868;
  display: block;
}

.banner_description {
  width: 100%;
  max-width: 700px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 34px;
}

.banner_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
/* ============ BANNER SECTION ENDS ============ */

/* ============ NOTES SECTION STARTS ============ */
#notes {
  text-align: center;
  background-color: #fbfbfb;
}

.note-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 44px;
}

.note-card {
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1/1;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  text-align: center;
}

.note-card span {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #f95555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-card h4 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  color: #001931;
}

.note-card p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
}
/* ============ NOTES SECTION ENDS ============ */

/* ============ SECOND BRAIN SECTION STARTS ============ */
#second-brain {
  background-color: #fff;
}

#second-brain .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#second-brain .container div {
  width: 100%;
}

#second-brain .container .section-description {
  width: 100%;
  max-width: 480px;
}

.second-brain_feature-list {
  margin-top: 40px;
}

.second-brain_feature-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.second-brain_feature-list li::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../assets/CheckCircle.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* ============ SECOND BRAIN SECTION ENDS ============ */

/* ============ EARLY ACCESS SECTION STARTS ============ */
#early-access {
  background: #fff;
  padding-top: 0px;
  text-align: center;
}

.early-access_content {
  background-color: rgba(247, 246, 242, 1);
  padding: 80px 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.early-access_content .section-title {
  margin: 0px 0px;
}

.early-access_content .section-description {
  width: 100%;
  max-width: 580px;
}

.early-access_content .button-primary {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin-top: 8px;
}

.early-access_perks {
  color: #627382;
}
/* ============ EARLY ACCESS SECTION ENDS ============ */

/* ============ FOOTER STARTS ============ */
#footer {
  background-color: #001931;
  padding: 120px 120px 30px;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  color: #fff;
  padding-bottom: 80px;
}

.footer-socials span {
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-bottom: 16px;
}

.footer-socials .links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-socials .links a {
  display: block;
  background-color: #fff;
  border-radius: 100%;
  color: #001931;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials .links a:nth-child(1):hover {
  background-color: #000;
  color: #fff;
}
.footer-socials .links a:nth-child(2):hover {
  background-color: #0b66c3;
  color: #fff;
}
.footer-socials .links a:nth-child(3):hover {
  background-color: #2d3891;
  color: #fff;
}

#footer hr {
  border: none;
  height: 1px;
  background-color: #2e4256;
}

.copyright-text {
  display: block;
  width: fit-content;
  margin: 30px auto 0px;
  font-size: 16px;
  font-weight: 400;
  color: #fafafa;
  text-align: center;
}
/* ============ FOOTER ENDS ============ */
